<!DOCTYPE html>
<html>
<head>
  <title>PetsDB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#"> PetsDB </a>
				<ul class="nav">
					<li><%= link_to "Pet Clubs", pet_clubs_path %></li>
					<li><%= link_to "Owners", owners_path %></li>
					<li><%= link_to "All Pets", root_path %></li>
				</ul>
			</div>
		</div>
	</div>

<%= yield %>

</body>
</html>
